// @@@@@@@@@@@@@@@@@@@@ GLOBAL VARIABLES @@@@@@@@@@@@@@@@@@@@
$background-color: black;

// @@@@@@@@@@@@@@@@@@@@ FONTS @@@@@@@@@@@@@@@@@@@@
@font-face {
    font-family: 'Pixeled';
    src: url('/Resources/Fonts/Pixeled.woff') format('woff2'),
        url('/Resources/Fonts/Pixeled.woff') format('woff'),
        url('/Resources/Fonts/Pixeled.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

// @@@@@@@@@@@@@@@@@@@@ MIXINS @@@@@@@@@@@@@@@@@@@@
@mixin full_width_height {
    width: 100%;
    height: 100%;
}

@mixin gridsystem($row, $col) {
    display: grid;
    grid-template-rows: $row;
    grid-template-columns: $col;
}

@mixin flexbox($direction: row, $justify: center, $align: center, $wrap: false, $display-none: false) {
    @if $display-none {
        display: none;
    }

    @else {
        display: flex;
    }

    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;

    @if $wrap {
        flex-wrap: wrap;
    }
}

html {
    min-height: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    background-color: $background-color;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

.main-container {
    @include full_width_height;
    @include gridsystem(10% auto 5%, 100%);

    // Top bar containing the controls, lives and score(maybe)
    .header {
        @include full_width_height;
        @include gridsystem(100%, 40% 30% 30%);

        .lives-div {
            @include full_width_height;
            @include flexbox($justify: flex-start);
            padding-left: 10px;
            padding-right: 10px;

            * {
                margin-right: 20px;
            }

            p {
                font: normal 1em/1em Pixeled;
                color: white;
                // margin: 0 !important;
            }

            img {
                width: 40px;
                height: 20px;
                background-size: contain;
            }
        }

        .controls-div {
            @include full_width_height;
            @include flexbox($justify: center);
            padding-left: 10px;
            padding-right: 10px;

            * {
                margin-right: 20px !important;
            }

            p {
                font: normal 1em/1em Pixeled;
                color: white;
                margin: 0;
            }

            img {
                width: 32px;
                height: 32px;
                background-size: contain;
            }
        }

        .score-div {
            @include full_width_height;
            @include flexbox($justify: flex-end);

            p {
                font: normal 1em/1em Pixeled;
                width: 150px;
                color: white;
                margin: 0 !important;
            }
        }
    }

    // The main game area
    .game-container {
        @include full_width_height;
        @include flexbox(column);
        position: absolute;
        perspective: 1000px;

        p {
            font: normal 1.8em/2em Pixeled;
            color: white;
            margin: 0 !important;
            text-align: center;

            @keyframes highlight {
                0% {
                    opacity: 0.4;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    opacity: 0.4;
                }
            }
        }

        .highlight-anim {
            animation: highlight 2000ms linear infinite forwards;
        }

        .shadow-3d {
            text-shadow: 0px 4px 6px white;
        }

        .large-text {
            font-size: 3.6em;
        }

        .skewed-text {
            transform: rotate3d(1, 0, 0, 45deg);
        }

        .enemy-div {
            @include flexbox($wrap: true, $display-none: true);
            position: relative;
            top: -80px;
            width: auto;
            max-width: 800px;

            img {
                width: 40px;
                height: 20px;
                background-size: contain;
                margin: 15px;
            }
        }

        .enemy-projectile {
            position: absolute;
            bottom: 0;
            left: 0;
            transition: bottom 50ms linear;
            max-height: 32px;
            max-width: 16px;

            img {
                width: 16px;
                height: 32px;
                background-size: contain;
            }
        }

        .player {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transition: left 50ms linear;

            img {
                width: 64px;
                height: 32px;
                background-size: contain;
            }
        }

        .player-projectile {
            position: absolute;
            bottom: 0;
            left: 0;
            transition: bottom 50ms linear;

            img {
                width: 16px;
                height: 32px;
                background-size: contain;
            }
        }
    }

    // The empty footer
    .footer {
        @include full_width_height;
    }
}

.game-over {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}