@font-face {
  font-family: 'Pixeled';
  src: url("/Resources/Fonts/Pixeled.woff") format("woff2"), url("/Resources/Fonts/Pixeled.woff") format("woff"), url("/Resources/Fonts/Pixeled.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  background-color: black;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}

.main-container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% auto 5%;
      grid-template-rows: 10% auto 5%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.main-container .header {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 40% 30% 30%;
      grid-template-columns: 40% 30% 30%;
}

.main-container .header .lives-div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.main-container .header .lives-div * {
  margin-right: 20px;
}

.main-container .header .lives-div p {
  font: normal 1em/1em Pixeled;
  color: white;
}

.main-container .header .lives-div img {
  width: 40px;
  height: 20px;
  background-size: contain;
}

.main-container .header .controls-div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.main-container .header .controls-div * {
  margin-right: 20px !important;
}

.main-container .header .controls-div p {
  font: normal 1em/1em Pixeled;
  color: white;
  margin: 0;
}

.main-container .header .controls-div img {
  width: 32px;
  height: 32px;
  background-size: contain;
}

.main-container .header .score-div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .header .score-div p {
  font: normal 1em/1em Pixeled;
  width: 150px;
  color: white;
  margin: 0 !important;
}

.main-container .game-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.main-container .game-container p {
  font: normal 1.8em/2em Pixeled;
  color: white;
  margin: 0 !important;
  text-align: center;
}

@-webkit-keyframes highlight {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes highlight {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.main-container .game-container .highlight-anim {
  -webkit-animation: highlight 2000ms linear infinite forwards;
          animation: highlight 2000ms linear infinite forwards;
}

.main-container .game-container .shadow-3d {
  text-shadow: 0px 4px 6px white;
}

.main-container .game-container .large-text {
  font-size: 3.6em;
}

.main-container .game-container .skewed-text {
  -webkit-transform: rotate3d(1, 0, 0, 45deg);
          transform: rotate3d(1, 0, 0, 45deg);
}

.main-container .game-container .enemy-div {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  top: -80px;
  width: auto;
  max-width: 800px;
}

.main-container .game-container .enemy-div img {
  width: 40px;
  height: 20px;
  background-size: contain;
  margin: 15px;
}

.main-container .game-container .enemy-projectile {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: bottom 50ms linear;
  transition: bottom 50ms linear;
  max-height: 32px;
  max-width: 16px;
}

.main-container .game-container .enemy-projectile img {
  width: 16px;
  height: 32px;
  background-size: contain;
}

.main-container .game-container .player {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transition: left 50ms linear;
  transition: left 50ms linear;
}

.main-container .game-container .player img {
  width: 64px;
  height: 32px;
  background-size: contain;
}

.main-container .game-container .player-projectile {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: bottom 50ms linear;
  transition: bottom 50ms linear;
}

.main-container .game-container .player-projectile img {
  width: 16px;
  height: 32px;
  background-size: contain;
}

.main-container .footer {
  width: 100%;
  height: 100%;
}

.game-over {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
/*# sourceMappingURL=index.css.map */